# 5. Introduction of Pandas

In [ ]:
import pandas as pd

## 5.1 Create a dataframe

In [ ]:
abc_df = pd.DataFrame({'AAA': [4,5,6,7], 'BBB': [10,20,30,40], 'CCC': [100,50,-30,-50]})
abc_df

### Use dot to get the values in the column

In [ ]:
abc_df.AAA

In [ ]:
abc_df.BBB

In [ ]:
abc_df['BBB']

### Selecting pandas data using “iloc”
```python
Usage: dataframe.iloc[row-index, column-index]
```

In [ ]:
stock_df = pd.DataFrame(
    data=[[0.35, 0.06, 0.2, 0.18],
         [0.28, 0.19, 0.23, 0.18],
         [0.7, 0.11, 0.14, 0.57],
         [2.56, 3.38, 3.86, 3.73],
         [1.03, 1.63, 3.98, 2.0]],
    columns=['2017Q2', '2017Q1', '2016Q4', '2016Q3'],
    index=['2337', '2344', '3019', '2330', '2317']
)
stock_df

In [ ]:
stock_df.iloc[1]  # Select row1: 2344

In [ ]:
stock_df.iloc[:, 0:2]  # Select column0 and column1

In [ ]:
stock_df.iloc[1, 0:2]  # Select row1, column0 and column1

In [ ]:
stock_df.iloc[-1]   # Select last row

### Selecting pandas data using “loc”
```python
Usage: dataframe.loc[row-name, column-name]
```

In [ ]:
stock_df.loc['2344']  # Select row: 2344

In [ ]:
stock_df.loc[:,['2017Q2', '2017Q1']]  # Select column 2017Q2 and column 2017Q1

In [ ]:
stock_df.loc[['2344'], ['2017Q2', '2017Q1']]  # Select row 2344, column 2017Q2 and column 2017Q1

### Boolean / Logical indexing using .loc

In [ ]:
stock_df.loc[stock_df['2017Q2'] > 0.5]  # Select the values in column 2017Q2 greater than 0.5

In [ ]:
stock_df.loc[stock_df['2017Q2'] > 0.5, ['2017Q2', '2017Q1']]

In [ ]:
abc_df

In [ ]:
abc_df.loc[abc_df.AAA >= 5,'BBB'] = -1
abc_df

In [ ]:
abc_df.loc[abc_df.AAA >= 5,['BBB','CCC']] = 555
abc_df

### Add a new column

In [ ]:
stock_df['name'] = ['旺宏', '華邦電', '亞光', '台積電', '鴻海']
stock_df

### Calculate by columns

In [ ]:
abc_df['DDD'] = (abc_df.BBB - abc_df.CCC)*2
abc_df

In [ ]:
abc_df['sum'] = abc_df.sum(1)
abc_df

### Concat two dataframe

In [ ]:
stock_df2 = pd.DataFrame(
    data=[[0.17, 0.19, 0.21, 0.24, '聯電']],
    columns=['2017Q2', '2017Q1', '2016Q4', '2016Q3', 'name'],
    index=['2303']
)

In [ ]:
new_stock_df = pd.concat([stock_df, stock_df2], axis=0)
new_stock_df

### Sortng

In [ ]:
new_stock_df.sort_values(by=["2017Q2"], ascending=False)

### Transpose

In [ ]:
df = new_stock_df.T
df

### Delete column and row

In [ ]:
df = df.drop(df.index[[-1]])
df

In [ ]:
del df['2303']
df

## 5.2 Create dataframe from csv

In [ ]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('../data/ml-100k/u.user', sep='|', names=u_cols, encoding='latin-1')
users.head()

In [ ]:
users.tail()

In [ ]:
r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('../data/ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')
ratings.head()

In [ ]:
m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('../data/ml-100k/u.item', sep='|', names=m_cols, usecols=range(5), encoding='latin-1')
movies.head()

In [ ]:
movies.head(10)

In [ ]:
movies[100:110]

## 5.3 Basic Analysis

In [ ]:
ratings.describe()

In [ ]:
ratings.rating.max()

In [ ]:
ratings.rating.min()

In [ ]:
ratings.rating.std()

In [ ]:
ratings.rating.mean()

In [ ]:
ratings.rating.median()

In [ ]:
ratings.count()

### Number of unique users

In [ ]:
ratings.user_id.nunique()

### Count for each rating

In [ ]:
ratings.rating.value_counts()

## 5.4 Ploting

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt

In [ ]:
df

In [ ]:
df['2337'].plot()

In [ ]:
df['2337'].plot(kind='bar')

In [ ]:
df.plot()

## Exercise 5.1 Add a new price column for stock dataframe and sort by price

## Exercise 5.2 Add new stocks for your stock dataframe

## Exercise 5.3 Find the number of unique movies

In [ ]:
ratings.movie_id.nunique()

## Exercise 5.4 Find the top 5 most rated movies

In [ ]:
ratings.movie_id.value_counts().head(5)

## Exercise 5.5 Use pandas to count the jobNo and action from csv (Same as exercise 4.3)